<!--main page-->

<div>
    <form action="/shorten" method="POST">
        <div class="form-control form-control-lg border-0">
            <input class="border-0 placeholder col-12 w-50 p-3" name="originalURL" id="originalURL" type="url" style="background-color: #f2f2f2" placeholder="Input URL here" required> <!--輸入網址的textbox-->
        </div>
        <div class="form-control form-control-lg border-0">
            <button type="submit" class="btn btn-outline-primary rounded-0 w-25 p-3 fs-4 fw-bold">Shorten</button> <!--產生短網址的按鈕-->
        </div>
    </form>
</div>