<!--回傳短網址-->

<div>
    <form action="/shorten" method="POST"></form>
        <h4>Behold the enchanted link!</h4>
        <h2 id="myText" class="text-primary" style="user-select: all" >https://the-url-mage.up.railway.app/redirect/{{endingOfTheShortenURL}}</h2>
        <div class="form-control form-control-lg border-0">
            <button id="btn" onclick="copyContent()" class="btn btn-clipboard btn-outline-primary rounded-0 w-25 p-3 fs-4 fw-bold">Copy</button> <!--產生短網址的按鈕-->
        </div>
        <p></p>
        <p></p>
        <p></p>
        <a class="text-dark" href="/"><h4><i class="fa-solid fa-fire-flame-curved"></i> Enchant anew!</h4></a>
        <script>
            let text = document.getElementById('myText').innerHTML;
            const copyContent = async () => {
                try {
                await navigator.clipboard.writeText(text);
                console.log('Content copied to clipboard');
                } catch (err) {
                console.error('Failed to copy: ', err);
                }
            }
        </script>
</div>